#galeria .col-lg-2 {
    margin: 0 !important;
    padding: 25px;
    }
    
    #galeria img {
        width: 250%;
        height: 250px;
    }
    #galeria img:hover {
    border:4px solid #f7f7f7;
    }

    